<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

    <targets async="true">
        <target name="logfile" xsi:type="File" maxArchiveDays="7" fileName="${basedir}/logs/AppLog.${shortdate}.txt"/>
        <target name="logconsole" xsi:type="Console"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole"/>
        <logger name="*" minlevel="Debug" writeTo="logfile"/>
    </rules>
</nlog>